@import '../utils/breakpoints.scss';
@import '../utils/variables.scss';



.header {
    width: 100vw;
    max-width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    z-index: 1000;
    background-color: $bg;
    border-bottom: 5px solid $primary;
    // box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);

    .header-container {
        // width: 1100px;
        height: 100%;
        margin: 0 auto;

        .header-content {
            height: 100%;
            padding: 0 20px;
            // padding: 20px;
            display: flex;
            flex-flow: row nowrap;
            align-items: center;

            .branding {
                // height: 100%;
                height: 80%;
                // margin-right: 5vw;
                display: flex;
                flex-flow: row nowrap;
                align-items: center;

                .branding-img {
                    height: 100%;
                }

                .branding-name {
                    margin-left: 10px;
                    font-size: 2.5rem;
                    text-transform: uppercase;
                }
            }

            .nav {
                height: 100%;
                margin: 0 5vw;
                display: flex;
                flex-flow: row nowrap;
                align-items: center;
                list-style-type: none;

                .nav-item {
                    // width: 6vw;
                    height: 100%;
                    padding: 0 10px;
                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    .nav-link {
                        color: $on-light;
                        font-size: 1.2rem;
                        text-decoration: none;
                        text-transform: capitalize;
                    }

                    &.active {
                        .nav-link {
                            position: relative;
                            // color: $primary;
                            // border-bottom: 2px solid $primary;

                            &:before {
                                content: '';
                                position: absolute;
                            }
                        }

                        // &:before {
                        //     content: '';
                        //     width: 100%;
                        //     height: calc(100% - 5px);
                        //     position: absolute;
                        //     display: block;
                        //     border-bottom: 5px solid $primary;
                        // }
                    }
                }

                &.socials {
                    margin: 0;
                    margin-left: auto;
                }
            }
        }
    }
}