@import '../utils/breakpoints.scss';
@import '../utils/variables.scss';



body {
    background-color: $bg;
}

input,
button,
textarea {
    margin: 0;
    padding: 0;
    background-color: unset;
    border: none;
    outline: none;
}

.main {
    width: 100vw;
    max-width: 100%;
    
    .main-container {
        .main-content {}
    }
}



@include for-mobile-only {
    .main {
        .main-container {
            .main-content {
                padding: 20px;

                .item {
                    width: 100%;
                    margin-top: 20px;
                    border: 1px solid rgba(50, 50, 50, 1);

                    .item-img {
                        width: inherit;
                    }

                    .item-content {
                        padding: 10px;

                        .item-details {
                            margin-bottom: 5px;
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                        }

                        .item-title {}

                        .item-view {
                            margin-top: 50px;
                            display: block;
                        }
                    }

                    &:first-child {
                        margin-top: 0;
                    }
                }
            }
        }
    }
}