$primary: #D70823;
// $primary-variant: ???;
$secondary: #17165B;
$bg: #FFFFFF;
$surface: #FFFFFF;
// $error: #FFFFFF;

// $on-primary: ???;
// $on-secondary: ???;
$on-bg: #000000;
// $on-surface: #000000;
// $on-surface: #FFFFFF;
$on-surface: #000000;
// $on-error: ???;

$on-light: #000000;
$on-dark: #FFFFFF;