@import '../utils/breakpoints.scss';
@import '../utils/variables.scss';



// Sinkin Sans - Regular
////////////////////////
@font-face {
    font-family: 'Sinkin Sans';
    src: url('../fonts/sinkin-sans/SinkinSans-400Regular.otf');
    font-style: normal;
    font-weight: 400;
}

// Sinkin Sans - Italic
///////////////////////
@font-face {
    font-family: 'Sinkin Sans';
    src: url('../fonts/sinkin-sans/SinkinSans-400Italic.otf');
    font-style: italic;
    font-weight: 400;
}

// Sinkin Sans - Bold
/////////////////////
@font-face {
    font-family: 'Sinkin Sans';
    src: url('../fonts/sinkin-sans/SinkinSans-700Bold.otf');
    font-style: normal;
    font-weight: 700;
}

// Sinkin Sans - Bold Italic
////////////////////////////
@font-face {
    font-family: 'Sinkin Sans';
    src: url('../fonts/sinkin-sans/SinkinSans-700BoldItalic.otf');
    font-style: italic;
    font-weight: 700;
}



h1 {
    color: $on-dark;
    font-family: 'Sinkin Sans';
    font-style: normal;
    // font-weight: 900;
    font-weight: 700;
}

// h2 {
//     font-family: 'Sinkin Sans';
//     font-style: normal;
//     // font-weight: 700;
// }

h3 {}

h4 {}

h5 {}

h6 {
    color: $secondary;
    font-family: 'Sinkin Sans';
    font-style: normal;
    font-weight: 400;
}

.icon:after,
p,
a,
li,
label,
input,
button,
textarea {
    color: $on-dark;
    font-family: 'Sinkin Sans';
    font-style: normal;
    font-weight: 400;
}

a {
    text-decoration: none;
}



@include for-mobile-only {
    h1,
    .item-view {
        font-size: 18px;
    }

    h2 {}

    h3 {}

    h4 {}

    h5 {}

    .icon:after,
    h6,
    p,
    a,
    li,
    label,
    input,
    button,
    textarea {
        font-size: 12px;
    }
}